body {
    font-family: sans-serif;
  }
  
  .container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .error-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: red;
  }
  
  .error-icon:hover {
    text-decoration: underline;
  }
  
  .btn-submit{
    width: 100%;
    background-color: #6559F5;
    color: white;
  }
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10; /* Added z-index for modal to appear above other elements */
  }
  
  .modal-content {
    background-color: #fff;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px; /* Added width for modal content */
    text-align: center; /* Added text-align for centered content */
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  #close-modal {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #6559F5;
    color: white;
  }
  